In [2]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import keras

Using TensorFlow backend.

In [3]:
# Importing the dataset
test = pd.read_csv('test.csv')

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,367.000000,367.000000,362.000000,361.000000,338.000000
mean,4805.599455,1569.577657,136.132597,342.537396,0.825444
std,4910.685399,2334.232099,61.366652,65.156643,0.380150
min,0.000000,0.000000,28.000000,6.000000,0.000000
25%,2864.000000,0.000000,100.250000,360.000000,1.000000
50%,3786.000000,1025.000000,125.000000,360.000000,1.000000
75%,5060.000000,2430.500000,158.000000,360.000000,1.000000
max,72529.000000,24000.000000,550.000000,480.000000,1.000000

In [3]:
test.dropna(inplace=True)

In [5]:
test.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,367.000000,367.000000,362.000000,361.000000,338.000000
mean,4805.599455,1569.577657,136.132597,342.537396,0.825444
std,4910.685399,2334.232099,61.366652,65.156643,0.380150
min,0.000000,0.000000,28.000000,6.000000,0.000000
25%,2864.000000,0.000000,100.250000,360.000000,1.000000
50%,3786.000000,1025.000000,125.000000,360.000000,1.000000
75%,5060.000000,2430.500000,158.000000,360.000000,1.000000
max,72529.000000,24000.000000,550.000000,480.000000,1.000000

In [4]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [5]:
labelencoder1 = LabelEncoder()
test['Gender']= labelencoder1.fit_transform(test['Gender'])

In [6]:
labelencoder2 = LabelEncoder()
test['Married']= labelencoder2.fit_transform(test['Married'])

In [7]:
labelencoder3 = LabelEncoder()
test['Education']= labelencoder3.fit_transform(test['Education'])

In [8]:
labelencoder4 = LabelEncoder()
test['Self_Employed']= labelencoder4.fit_transform(test['Self_Employed'])

In [9]:
labelencoder5 = LabelEncoder()
test['Property_Area']= labelencoder5.fit_transform(test['Property_Area'])

In [10]:
test = pd.concat([test, pd.get_dummies(test['Property_Area'], prefix='property', drop_first=True)],axis=1)

In [11]:
test.drop(['Property_Area'], axis=1, inplace=True)

In [12]:
test['Dependents'] = test['Dependents'].replace(['3+'], 3)

In [13]:
from sklearn.preprocessing import StandardScaler

In [14]:
X = test.drop('Loan_ID', axis=1)

In [15]:
X = X.iloc[:, 0:12].values

In [16]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

D:\conda_env\dl_new\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
D:\conda_env\dl_new\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [17]:
test.to_csv('test_clean.csv', index = False)