In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import keras

Using TensorFlow backend.

In [2]:
# Importing the dataset
train = pd.read_csv('train.csv')
test = pd.read_csv('test_clean.csv')

In [3]:
test.shape

(289, 13)

In [4]:
train.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [5]:
train.dropna(inplace=True)

In [6]:
train.shape

(480, 13)

In [7]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [8]:
labelencoder1 = LabelEncoder()
train['Gender']= labelencoder1.fit_transform(train['Gender'])

In [9]:
labelencoder2 = LabelEncoder()
train['Married']= labelencoder2.fit_transform(train['Married'])

In [10]:
labelencoder3 = LabelEncoder()
train['Education']= labelencoder3.fit_transform(train['Education'])

In [11]:
labelencoder4 = LabelEncoder()
train['Self_Employed']= labelencoder4.fit_transform(train['Self_Employed'])

In [12]:
labelencoder5 = LabelEncoder()
train['Property_Area']= labelencoder5.fit_transform(train['Property_Area'])

In [13]:
labelencoder6 = LabelEncoder()
train['Loan_Status']= labelencoder6.fit_transform(train['Loan_Status'])

In [14]:
train.describe()

,Gender,Married,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
count,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000
mean,0.820833,0.647917,0.202083,0.137500,5364.231250,1581.093583,144.735417,342.050000,0.854167,1.022917,0.691667
std,0.383892,0.478118,0.401973,0.344734,5668.251251,2617.692267,80.508164,65.212401,0.353307,0.776411,0.462287
min,0.000000,0.000000,0.000000,0.000000,150.000000,0.000000,9.000000,36.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,2898.750000,0.000000,100.000000,360.000000,1.000000,0.000000,0.000000
50%,1.000000,1.000000,0.000000,0.000000,3859.000000,1084.500000,128.000000,360.000000,1.000000,1.000000,1.000000
75%,1.000000,1.000000,0.000000,0.000000,5852.500000,2253.250000,170.000000,360.000000,1.000000,2.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,81000.000000,33837.000000,600.000000,480.000000,1.000000,2.000000,1.000000

In [15]:
train = pd.concat([train, pd.get_dummies(train['Property_Area'], prefix='property', drop_first=True)],axis=1)

In [16]:
train.drop(['Property_Area'], axis=1, inplace=True)

In [17]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,property_1,property_2
1,LP001003,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0,0
2,LP001005,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,1,0,1
3,LP001006,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,1,0,1
4,LP001008,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,1,0,1
5,LP001011,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,1,0,1

In [18]:
labels = train.Dependents.unique().tolist()

In [19]:
labels

['1', '0', '2', '3+']

In [20]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 1 to 613
Data columns (total 14 columns):
Loan_ID              480 non-null object
Gender               480 non-null int32
Married              480 non-null int32
Dependents           480 non-null object
Education            480 non-null int32
Self_Employed        480 non-null int32
ApplicantIncome      480 non-null int64
CoapplicantIncome    480 non-null float64
LoanAmount           480 non-null float64
Loan_Amount_Term     480 non-null float64
Credit_History       480 non-null float64
Loan_Status          480 non-null int32
property_1           480 non-null uint8
property_2           480 non-null uint8
dtypes: float64(4), int32(5), int64(1), object(2), uint8(2)
memory usage: 40.3+ KB

In [21]:
train['Dependents'] = train['Dependents'].replace(['3+'], 3)

In [22]:
labels = train.Dependents.unique().tolist()

In [23]:
labels

['1', '0', '2', 3]

In [24]:
from sklearn.preprocessing import StandardScaler

In [25]:
target_name = 'Loan_Status'

In [26]:
X = train.drop('Loan_Status', axis=1)
y = train[target_name]

In [27]:
X = X.iloc[:, 1:12].values

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
y_train = train[0:480]['Loan_Status'].values
X_train = train[0:480].drop(['Loan_ID','Loan_Status'], axis=1).values
X_test  = test[0:367].drop(['Loan_ID'], axis=1).values

In [30]:
X_train

array([[1, 1, '1', ..., 1.0, 0, 0],
       [1, 1, '0', ..., 1.0, 0, 1],
       [1, 1, '0', ..., 1.0, 0, 1],
       ...,
       [1, 1, '1', ..., 1.0, 0, 1],
       [1, 1, '2', ..., 1.0, 0, 1],
       [0, 0, '0', ..., 0.0, 1, 0]], dtype=object)

In [31]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

D:\conda_env\dl_new\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
D:\conda_env\dl_new\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [32]:
# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense

In [33]:
# Initialising the ANN
classifier = Sequential()

In [34]:
# Adding the input layer and the first hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 12))

In [35]:
# Adding the second hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))

In [36]:
# Adding the output layer
classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))

In [37]:
# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [38]:
# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 10, epochs = 100)

Epoch 1/100
480/480 [==============================] - 2s 5ms/step - loss: 0.6883 - acc: 0.6917
Epoch 2/100
480/480 [==============================] - 0s 405us/step - loss: 0.6724 - acc: 0.6917
Epoch 3/100
480/480 [==============================] - 0s 401us/step - loss: 0.6355 - acc: 0.6917
Epoch 4/100
480/480 [==============================] - 0s 478us/step - loss: 0.5807 - acc: 0.6917
Epoch 5/100
480/480 [==============================] - 0s 392us/step - loss: 0.5331 - acc: 0.7875
Epoch 6/100
480/480 [==============================] - 0s 367us/step - loss: 0.5080 - acc: 0.8083
Epoch 7/100
480/480 [==============================] - 0s 565us/step - loss: 0.4946 - acc: 0.8083
Epoch 8/100
480/480 [==============================] - 0s 440us/step - loss: 0.4837 - acc: 0.8125
Epoch 9/100
480/480 [==============================] - 0s 409us/step - loss: 0.4748 - acc: 0.8146
Epoch 10/100
480/480 [==============================] - 0s 362us/step - loss: 0.4675 - acc: 0.8146
Epoch 11/100
480/480 [==============================] - 0s 445us/step - loss: 0.4623 - acc: 0.8146
Epoch 12/100
480/480 [==============================] - 0s 389us/step - loss: 0.4582 - acc: 0.8167
Epoch 13/100
480/480 [==============================] - 0s 438us/step - loss: 0.4556 - acc: 0.8167
Epoch 14/100
480/480 [==============================] - 0s 377us/step - loss: 0.4540 - acc: 0.8167
Epoch 15/100
480/480 [==============================] - 0s 488us/step - loss: 0.4523 - acc: 0.8187
Epoch 16/100
480/480 [==============================] - 0s 418us/step - loss: 0.4517 - acc: 0.8187
Epoch 17/100
480/480 [==============================] - 0s 505us/step - loss: 0.4500 - acc: 0.8187
Epoch 18/100
480/480 [==============================] - 0s 513us/step - loss: 0.4490 - acc: 0.8187
Epoch 19/100
480/480 [==============================] - 0s 403us/step - loss: 0.4484 - acc: 0.8208
Epoch 20/100
480/480 [==============================] - 0s 369us/step - loss: 0.4479 - acc: 0.8188
Epoch 21/100
480/480 [==============================] - 0s 373us/step - loss: 0.4470 - acc: 0.8188
Epoch 22/100
480/480 [==============================] - 0s 362us/step - loss: 0.4465 - acc: 0.8187
Epoch 23/100
480/480 [==============================] - 0s 366us/step - loss: 0.4455 - acc: 0.8187
Epoch 24/100
480/480 [==============================] - 0s 364us/step - loss: 0.4448 - acc: 0.8187
Epoch 25/100
480/480 [==============================] - 0s 465us/step - loss: 0.4444 - acc: 0.8208
Epoch 26/100
480/480 [==============================] - 0s 421us/step - loss: 0.4436 - acc: 0.8250
Epoch 27/100
480/480 [==============================] - 0s 410us/step - loss: 0.4426 - acc: 0.8250
Epoch 28/100
480/480 [==============================] - 0s 364us/step - loss: 0.4424 - acc: 0.8229
Epoch 29/100
480/480 [==============================] - 0s 403us/step - loss: 0.4415 - acc: 0.8250
Epoch 30/100
480/480 [==============================] - 0s 397us/step - loss: 0.4411 - acc: 0.8229
Epoch 31/100
480/480 [==============================] - 0s 426us/step - loss: 0.4412 - acc: 0.8271
Epoch 32/100
480/480 [==============================] - 0s 429us/step - loss: 0.4398 - acc: 0.8229
Epoch 33/100
480/480 [==============================] - 0s 428us/step - loss: 0.4396 - acc: 0.8250
Epoch 34/100
480/480 [==============================] - 0s 376us/step - loss: 0.4392 - acc: 0.8271
Epoch 35/100
480/480 [==============================] - 0s 374us/step - loss: 0.4380 - acc: 0.8271
Epoch 36/100
480/480 [==============================] - 0s 426us/step - loss: 0.4378 - acc: 0.8250
Epoch 37/100
480/480 [==============================] - ETA: 0s - loss: 0.4398 - acc: 0.826 - 0s 380us/step - loss: 0.4365 - acc: 0.8292
Epoch 38/100
480/480 [==============================] - 0s 425us/step - loss: 0.4364 - acc: 0.8271
Epoch 39/100
480/480 [==============================] - 0s 316us/step - loss: 0.4357 - acc: 0.8292
Epoch 40/100
480/480 [==============================] - 0s 377us/step - loss: 0.4348 - acc: 0.8271
Epoch 41/100
480/480 [==============================] - 0s 414us/step - loss: 0.4342 - acc: 0.8250
Epoch 42/100
480/480 [==============================] - 0s 355us/step - loss: 0.4342 - acc: 0.8292
Epoch 43/100
480/480 [==============================] - 0s 347us/step - loss: 0.4339 - acc: 0.8292
Epoch 44/100
480/480 [==============================] - 0s 424us/step - loss: 0.4330 - acc: 0.8271
Epoch 45/100
480/480 [==============================] - 0s 337us/step - loss: 0.4328 - acc: 0.8271
Epoch 46/100
480/480 [==============================] - 0s 423us/step - loss: 0.4325 - acc: 0.8271
Epoch 47/100
480/480 [==============================] - 0s 382us/step - loss: 0.4324 - acc: 0.8271
Epoch 48/100
480/480 [==============================] - 0s 326us/step - loss: 0.4320 - acc: 0.8271
Epoch 49/100
480/480 [==============================] - 0s 318us/step - loss: 0.4316 - acc: 0.8271
Epoch 50/100
480/480 [==============================] - 0s 322us/step - loss: 0.4319 - acc: 0.8250
Epoch 51/100
480/480 [==============================] - 0s 339us/step - loss: 0.4310 - acc: 0.8271
Epoch 52/100
480/480 [==============================] - 0s 372us/step - loss: 0.4306 - acc: 0.8292
Epoch 53/100
480/480 [==============================] - 0s 401us/step - loss: 0.4303 - acc: 0.8292
Epoch 54/100
480/480 [==============================] - 0s 349us/step - loss: 0.4298 - acc: 0.8271
Epoch 55/100
480/480 [==============================] - 0s 392us/step - loss: 0.4294 - acc: 0.8292
Epoch 56/100
480/480 [==============================] - 0s 381us/step - loss: 0.4291 - acc: 0.8271
Epoch 57/100
480/480 [==============================] - 0s 369us/step - loss: 0.4290 - acc: 0.8292
Epoch 58/100
480/480 [==============================] - 0s 438us/step - loss: 0.4276 - acc: 0.8271
Epoch 59/100
480/480 [==============================] - 0s 428us/step - loss: 0.4288 - acc: 0.8292
Epoch 60/100
480/480 [==============================] - 0s 345us/step - loss: 0.4265 - acc: 0.8292
Epoch 61/100
480/480 [==============================] - 0s 341us/step - loss: 0.4265 - acc: 0.8292
Epoch 62/100
480/480 [==============================] - 0s 324us/step - loss: 0.4261 - acc: 0.8292
Epoch 63/100
480/480 [==============================] - 0s 322us/step - loss: 0.4266 - acc: 0.8271
Epoch 64/100
480/480 [==============================] - 0s 364us/step - loss: 0.4256 - acc: 0.8312
Epoch 65/100
480/480 [==============================] - 0s 573us/step - loss: 0.4261 - acc: 0.8292
Epoch 66/100
480/480 [==============================] - 0s 351us/step - loss: 0.4253 - acc: 0.8271
Epoch 67/100
480/480 [==============================] - 0s 330us/step - loss: 0.4254 - acc: 0.8271
Epoch 68/100
480/480 [==============================] - 0s 397us/step - loss: 0.4253 - acc: 0.8292
Epoch 69/100
480/480 [==============================] - 0s 328us/step - loss: 0.4249 - acc: 0.8312
Epoch 70/100
480/480 [==============================] - 0s 334us/step - loss: 0.4247 - acc: 0.8271
Epoch 71/100
480/480 [==============================] - 0s 368us/step - loss: 0.4244 - acc: 0.8271
Epoch 72/100
480/480 [==============================] - 0s 401us/step - loss: 0.4248 - acc: 0.8312
Epoch 73/100
480/480 [==============================] - 0s 388us/step - loss: 0.4237 - acc: 0.8312
Epoch 74/100
480/480 [==============================] - 0s 359us/step - loss: 0.4239 - acc: 0.8271
Epoch 75/100
480/480 [==============================] - 0s 330us/step - loss: 0.4234 - acc: 0.8292
Epoch 76/100
480/480 [==============================] - 0s 332us/step - loss: 0.4227 - acc: 0.8292
Epoch 77/100
480/480 [==============================] - 0s 340us/step - loss: 0.4232 - acc: 0.8333
Epoch 78/100
480/480 [==============================] - 0s 343us/step - loss: 0.4227 - acc: 0.8312
Epoch 79/100
480/480 [==============================] - 0s 353us/step - loss: 0.4237 - acc: 0.8333
Epoch 80/100
480/480 [==============================] - 0s 417us/step - loss: 0.4224 - acc: 0.8333
Epoch 81/100
480/480 [==============================] - 0s 349us/step - loss: 0.4220 - acc: 0.8312
Epoch 82/100
480/480 [==============================] - 0s 324us/step - loss: 0.4229 - acc: 0.8312
Epoch 83/100

480/480 [==============================] - 0s 447us/step - loss: 0.4223 - acc: 0.8354
Epoch 84/100
480/480 [==============================] - 0s 345us/step - loss: 0.4217 - acc: 0.8292
Epoch 85/100
480/480 [==============================] - 0s 324us/step - loss: 0.4215 - acc: 0.8313
Epoch 86/100
480/480 [==============================] - 0s 332us/step - loss: 0.4217 - acc: 0.8333
Epoch 87/100
480/480 [==============================] - 0s 347us/step - loss: 0.4210 - acc: 0.8312
Epoch 88/100
480/480 [==============================] - 0s 389us/step - loss: 0.4206 - acc: 0.8312
Epoch 89/100
480/480 [==============================] - 0s 382us/step - loss: 0.4202 - acc: 0.8312
Epoch 90/100
480/480 [==============================] - 0s 364us/step - loss: 0.4210 - acc: 0.8312
Epoch 91/100
480/480 [==============================] - 0s 378us/step - loss: 0.4201 - acc: 0.8333
Epoch 92/100
480/480 [==============================] - 0s 380us/step - loss: 0.4219 - acc: 0.8292
Epoch 93/100
480/480 [==============================] - 0s 438us/step - loss: 0.4200 - acc: 0.8312
Epoch 94/100
480/480 [==============================] - 0s 391us/step - loss: 0.4206 - acc: 0.8333
Epoch 95/100
480/480 [==============================] - 0s 351us/step - loss: 0.4190 - acc: 0.8333
Epoch 96/100
480/480 [==============================] - 0s 397us/step - loss: 0.4204 - acc: 0.8333
Epoch 97/100
480/480 [==============================] - 0s 391us/step - loss: 0.4190 - acc: 0.8354
Epoch 98/100
480/480 [==============================] - 0s 397us/step - loss: 0.4194 - acc: 0.8375
Epoch 99/100
480/480 [==============================] - 0s 443us/step - loss: 0.4190 - acc: 0.8312
Epoch 100/100
480/480 [==============================] - 0s 355us/step - loss: 0.4184 - acc: 0.8333

In [39]:
y_pred = classifier.predict(X_test)

In [40]:
y_pred

array([[0.8161325 ],
       [0.8411665 ],
       [0.8688414 ],
       [0.63744533],
       [0.6358804 ],
       [0.8256499 ],
       [0.05605446],
       [0.90917486],
       [0.6193546 ],
       [0.83630157],
       [0.81620127],
       [0.85360694],
       [0.92515296],
       [0.3293666 ],
       [0.88369256],
       [0.8408599 ],
       [0.5581758 ],
       [0.4729999 ],
       [0.5190561 ],
       [0.03576726],
       [0.5517987 ],
       [0.78229624],
       [0.8581078 ],
       [0.88554513],
       [0.91385794],
       [0.7925581 ],
       [0.84159786],
       [0.08397467],
       [0.83533883],
       [0.75009507],
       [0.6998283 ],
       [0.8096175 ],
       [0.687793  ],
       [0.94268703],
       [0.82208467],
       [0.71052706],
       [0.9126115 ],
       [0.84575593],
       [0.8485277 ],
       [0.93485445],
       [0.9072185 ],
       [0.75916845],
       [0.04501545],
       [0.4980412 ],
       [0.881561  ],
       [0.08742485],
       [0.8655198 ],
       [0.930034  ],
       [0.86470145],
       [0.74800336],
       [0.0564384 ],
       [0.8207463 ],
       [0.93571174],
       [0.05942939],
       [0.07243612],
       [0.8987089 ],
       [0.03426968],
       [0.9240512 ],
       [0.77879006],
       [0.877921  ],
       [0.6235972 ],
       [0.7563651 ],
       [0.7511458 ],
       [0.67003757],
       [0.07073429],
       [0.9833249 ],
       [0.01894095],
       [0.5558979 ],
       [0.23371647],
       [0.7175916 ],
       [0.80532897],
       [0.9291916 ],
       [0.83998   ],
       [0.81518537],
       [0.9238254 ],
       [0.8880851 ],
       [0.07094972],
       [0.8445951 ],
       [0.7153839 ],
       [0.9326015 ],
       [0.9289258 ],
       [0.7320567 ],
       [0.866323  ],
       [0.67500335],
       [0.87126297],
       [0.8344626 ],
       [0.9402141 ],
       [0.61358863],
       [0.7999407 ],
       [0.6901704 ],
       [0.8842014 ],
       [0.7439338 ],
       [0.8857732 ],
       [0.04746117],
       [0.05237857],
       [0.7910572 ],
       [0.8119093 ],
       [0.87964314],
       [0.03791345],
       [0.0371802 ],
       [0.9038968 ],
       [0.04464417],
       [0.89073014],
       [0.82208353],
       [0.82355857],
       [0.7671889 ],
       [0.8269825 ],
       [0.7139179 ],
       [0.8406402 ],
       [0.82471615],
       [0.8269393 ],
       [0.8509375 ],
       [0.04305875],
       [0.75965   ],
       [0.8258519 ],
       [0.818787  ],
       [0.899241  ],
       [0.06016472],
       [0.94229007],
       [0.7685296 ],
       [0.5634781 ],
       [0.8353912 ],
       [0.6949751 ],
       [0.0419649 ],
       [0.85513973],
       [0.8669865 ],
       [0.81373197],
       [0.8094133 ],
       [0.8295545 ],
       [0.47620043],
       [0.61630285],
       [0.78313977],
       [0.7403632 ],
       [0.07640415],
       [0.0742235 ],
       [0.7974439 ],
       [0.7679047 ],
       [0.7141972 ],
       [0.6710003 ],
       [0.7984358 ],
       [0.19175541],
       [0.04668611],
       [0.7723403 ],
       [0.8302606 ],
       [0.93153656],
       [0.91999394],
       [0.89286786],
       [0.66187745],
       [0.8701306 ],
       [0.8858221 ],
       [0.5983063 ],
       [0.6247302 ],
       [0.7832255 ],
       [0.06852387],
       [0.75461787],
       [0.75009507],
       [0.07441207],
       [0.797734  ],
       [0.05896617],
       [0.8803371 ],
       [0.46468556],
       [0.81082743],
       [0.9159663 ],
       [0.9066411 ],
       [0.94618976],
       [0.9176801 ],
       [0.9490084 ],
       [0.7224619 ],
       [0.7048609 ],
       [0.03687564],
       [0.89976364],
       [0.68159866],
       [0.8204889 ],
       [0.84836847],
       [0.55649567],
       [0.7981678 ],
       [0.83006454],
       [0.6545399 ],
       [0.41701952],
       [0.57513094],
       [0.2152489 ],
       [0.6968612 ],
       [0.84105694],
       [0.8326918 ],
       [0.79252803],
       [0.07169506],
       [0.45492986],
       [0.88419044],
       [0.7676481 ],
       [0.6909016 ],
       [0.03912856],
       [0.09732909],
       [0.5182891 ],
       [0.9047466 ],
       [0.2808228 ],
       [0.6022642 ],
       [0.07018644],
       [0.9509415 ],
       [0.867151  ],
       [0.8563698 ],
       [0.9213234 ],
       [0.69547915],
       [0.02302696],
       [0.7933179 ],
       [0.88454545],
       [0.78716457],
       [0.75217617],
       [0.7414178 ],
       [0.78872174],
       [0.8499489 ],
       [0.9501789 ],
       [0.6251994 ],
       [0.8145186 ],
       [0.01448648],
       [0.5031858 ],
       [0.05160782],
       [0.7910152 ],
       [0.60784954],
       [0.7261166 ],
       [0.7861926 ],
       [0.07510436],
       [0.10140596],
       [0.9340961 ],
       [0.62330323],
       [0.936992  ],
       [0.8144098 ],
       [0.35805935],
       [0.26267877],
       [0.76856154],
       [0.92862964],
       [0.8653105 ],
       [0.7427335 ],
       [0.03512784],
       [0.84110737],
       [0.8074899 ],
       [0.8343799 ],
       [0.8875301 ],
       [0.95763373],
       [0.8404087 ],
       [0.6969067 ],
       [0.7820519 ],
       [0.9266275 ],
       [0.767822  ],
       [0.09436984],
       [0.8285013 ],
       [0.6808154 ],
       [0.76699525],
       [0.7095421 ],
       [0.04065989],
       [0.6857922 ],
       [0.83809143],
       [0.40563822],
       [0.9095506 ],
       [0.83252794],
       [0.5177474 ],
       [0.88784266],
       [0.8320394 ],
       [0.7931873 ],
       [0.8988669 ],
       [0.5107234 ],
       [0.8951924 ],
       [0.96899366],
       [0.8132806 ],
       [0.8375758 ],
       [0.7707562 ],
       [0.04679909],
       [0.8999315 ],
       [0.72028214],
       [0.5852864 ],
       [0.8736558 ],
       [0.64238244],
       [0.8972077 ],
       [0.03812908],
       [0.6616711 ],
       [0.7955546 ],
       [0.8221041 ],
       [0.8086467 ],
       [0.7998032 ],
       [0.7706822 ],
       [0.37496352],
       [0.893641  ],
       [0.84896123],
       [0.78968537],
       [0.9015858 ],
       [0.9587895 ],
       [0.7085119 ],
       [0.8236363 ],
       [0.76067924],
       [0.6254717 ]], dtype=float32)

In [41]:
y_final = (y_pred > 0.5).astype(int).reshape(X_test.shape[0])

In [42]:
y_final

array([1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1])

In [43]:
submission = pd.DataFrame({'Loan_ID':test['Loan_ID'],'Loan_Status':y_final})
submission.head()

    Loan_ID  Loan_Status
0  LP001015            1
1  LP001022            1
2  LP001031            1
3  LP001051            1
4  LP001054            1

In [44]:
submission.to_csv('prediction.csv', index=False)